body {
    background-color: black;
}

body, body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#display, #letters {
    width: 100%;
}

.center-text {
    float: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.cell-container {
    text-align: center;
}

.cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0;
    background-color: black;
    border: 2px solid gray;
    color: white;
    font-size: 30px;
}

.letter {
    display: inline-block;
    width: 40px;
    height: 60px;
    margin: 5px;
    padding: 0;
    background-color: black;
    color: white;
    border: 2px solid gray;
    font-size: 20px;
}

.reveal-green {
    background-color: green;
}

.reveal-yellow {
    background-color: #bb9e00;
}

.reveal-gray {
    background-color: #192424;
}