body {
    background-color: black;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body, body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#display, #letters {
    table-layout: fixed;
    width: 100%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#overlay.shaded {
    background-color: #AAA8;
}

.center-text {
    float: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.cell-container {
    text-align: center;
    /* border: 2px solid white; */
}

.display {
    width: min(320px, 70vw);
}

.cell {
    display: inline-block;
    width: min(50px, 10vw);
    height: min(50px, 10vw);
    margin: min(5px, 1vw);
    background-color: black;
    border: 2px solid gray;
    color: white;
    font-size: min(30px, 6vw);
    position: relative;
}

.cell-popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.row-popup-box-container {
    /* border: 2px solid white; */
    width: calc(49% - min(160px, 35vw));
}

@media (max-width: 550px) {
    .row-popup-box-container.left {
        width: 0;
    }
    .row-popup-box-container.right {
        width: calc(99% - min(320px, 70vw));
    }
}

.scale-font {
    font-size: min(23px, 5vw);
}

.letter {
    display: inline-block;
    width: min(50px, 9%);
    height: 60px;
    margin: 5px min(5px, 0.4%);
    padding: 0;
    background-color: black;
    color: white;
    border: 2px solid gray;
    font-size: 20px;
}

.share-box {
    background-color: black;
    border: 1px solid white;
    color: white;
    font-family: "Source Code Pro", monospace;
    border-radius: 20px;
    padding: 20px;
    font-size: 0.8em;
    white-space: nowrap;
    text-align: center;
}

.share-box div {
    text-align: left;
}


.share-button {
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.share-button:hover {
    cursor: pointer;
}

.letter.wide {
    width: min(100px, 14%);
}

.letter:hover {
    cursor: pointer;
}

.reveal-green {
    background-color: green;
}

.color-green {
    color: green;
}

.reveal-yellow {
    background-color: #bb9e00;
}

.color-yellow {
    color: #bb9e00;
}

.reveal-gray {
    background-color: #192424;
}

.color-gray {
    color: #192424;
}

.reveal-red {
    background-color: red;
}

.color-red {
    color: red;
}

@keyframes fade-in-out-anim {
    0% {opacity: 0%;}
    35% {opacity: 100%;}
    65% {opacity: 100%;}
    100% {opacity: 0%;}
}

@keyframes fade-in-anim {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes grow-in-out-anim {
    0% {
        opacity: 0%; 
        transform: translate(-50%, -50%) scale(0%);
    }
    35% {
        opacity: 100%; 
    }
    100% {
        opacity: 0%; 
        transform: translate(-50%, -50%) scale(200%);
    }
}

.fade-in-out {
    animation-name: fade-in-out-anim;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.fade-in {
    animation-name: fade-in-anim;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.grow-in-out {
    animation-name: grow-in-out-anim;
    animation-duration: 2s;
    animation-fill-mode: both;
}