/* Points and Prestige */

#prestige-container {
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1em;
}

#prestige-bar {
    grid-column: 1 / 3;
    background-color: gray;
    position: relative;
}

#prestige-bar-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background-color: purple;
}

#prestige-icon {
    font-size: 1.2em;
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.85);
}

#points-container {
    margin: 5px;
}

/* Currency */

#currency-container {
    margin: 5px;
    display: flex;
    
    justify-content: space-evenly;
}

#currency-container div {
    font-size: 1.5em;
}

#currency-container span {
    font-size: 0.8em;
}

@keyframes currency-fade-in-anim {
    0% {
        opacity: 0%; 
        transform: scale(0%);
    }
    35% {
        opacity: 100%; 
    }
    100% {
        opacity: 0%; 
        transform: scale(200%);
    }
}

.currency-popup {
    animation-name: currency-fade-in-anim;
    animation-duration: 2s;
    animation-fill-mode: both;
    font-size: 3em;
    padding-bottom: 0.2em;
}

/* Info Score */

.hit-popup-box {
    white-space: nowrap;
}

.hit-popup-text {
    font-size: 2em;
}

.hit-popup-emoji {
    font-size: 3em;
}

@keyframes hit-slide-anim {
    0% {
        transform: translateY(-60vh);
    }
    100% {
        transform: translateY(60vh);
    }
}

@keyframes hit-slam-anim {
    0% {
        opacity: 0%; 
        transform: scale(200%) rotate(360deg);
    }
    
    20% {
        opacity: 100%;
        transform: scale(100%) rotate(0deg);
    }

    40% {
        opacity: 100%;
        transform: scale(100%) rotate(0deg);
    }
    
    100% {
        opacity: 0%;
        transform: scale(50%) rotate(0deg);
    }
}

@keyframes hit-bounce-anim {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(150%);
    }
}

.hit-slide {
    animation-name: hit-slide-anim;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-fill-mode: both;
}

.hit-slam {
    animation-name: hit-slam-anim;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-fill-mode: both;
}

.hit-bounce {
    animation-name: hit-bounce-anim;
    animation-timing-function: cubic-bezier(0,0,0.4,1);
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

/* Optimal Comparison */

#opt-comp-spinner {
    vertical-align: middle;
}

/* Pets */
#pet-container {
    --pet-box-size: 30px;

    display: grid;

    grid-template-columns: minmax(0, 800px);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.pet-case {
    padding: 10px;
    margin: 5px;
    background-color: #111;
    border: 2px solid yellow;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#pet-shop {
    border-color: red;
}

#pet-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pet-box {
    border: 2px solid darkslategray;
    background-color: #111;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--pet-box-size);
    height: var(--pet-box-size);
}

:not(.pet-show-icon) > .pet-icon {
    display: none;
}

:not(.pet-show-question) > .pet-question {
    display: none;
}

.pet-show-shaded {
    opacity: 50%;
}

.pet-show-icon:not(.pet-show-shaded):hover {
    cursor: pointer;
}

.pet-none {
    border-color: darkslategray;
}

.pet-common {
    border-color: gray;
}

.pet-rare {
    border-color: rgb(45, 131, 188);
}

.pet-rare.pet-show-icon:not(.pet-show-shaded) {
    box-shadow: 0 0 10px rgb(45, 131, 188);
}

.pet-epic {
    border-color: #A0A;
}

.pet-epic.pet-show-icon:not(.pet-show-shaded) {
    box-shadow: 0 0 10px #A0A;
}